.chip {
  width: fit-content;
  padding: 10px 20px;
  border-radius: 40px;
  margin: 0 2vw;

  font-family: "Regular";

  transition-duration: 0.3s;

  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}
