.horizontal {
    width: 200vw;
    height: 2px;
    background-color: rgb(253, 135, 0, 0.4);
    transition-timing-function: ease-out;
    position: fixed;
    left: -100vw;
    top: -1px;
    transform: translate(-50%, -50%);
    z-index: 1000;
    pointer-events: none;
}

.vertical {
    width: 2px;
    height: 200vh;
    background-color: rgb(253, 135, 0, 0.4);
    transition-timing-function: ease-out;
    position: fixed;
    left: -1px;
    top: -100vh;
    transform: translate(-50%, -50%);
    z-index: 1000;
    pointer-events: none;
}


.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}