.horizontal {
    width: 20px;
    height: 2px;
    background-color: white;
    transition-timing-function: ease-out;
    position: fixed;
    left: -20px;
    top: -1px;
    transform: translate(-50%, -50%);
    z-index: 1000;
    pointer-events: none;
}

.vertical {
    width: 2px;
    height: 20px;
    background-color: white;
    transition-timing-function: ease-out;
    position: fixed;
    left: -1px;
    top: -20px;
    transform: translate(-50%, -50%);
    z-index: 1000;
    pointer-events: none;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}