@font-face {
	font-family: "Light";
	src: url("./fonts/Inter-Light.ttf");
}

@font-face {
	font-family: "Medium";
	src: url("./fonts/Inter-Medium.ttf");
}

@font-face {
	font-family: "Regular";
	src: url("./fonts/Inter-Regular.ttf");
}

@font-face {
	font-family: "SemiBold";
	src: url("./fonts/Inter-SemiBold.ttf");
}

@font-face {
	font-family: "Display-Roman";
	src: url("./fonts/HaasGrotDisp55Roman.otf");
}

@font-face {
	font-family: "Display-Medium";
	src: url("./fonts/HaasGrotDisp65Medium.otf");
}

.regular{
    font-family: "Regular";
}

.light{
    font-family: "Light";
}

.semi-bold{
    font-family: "SemiBold";
}

.medium{
    font-family: "Medium";
}

.display-roman {
    font-family: "Display-Roman";
}

.display-medium {
    font-family: "Display-Medium";
}

.s-24{
    font-size: 24px;
}

.s-48 {
    font-size: 48px;
}

.s-72 {
    font-size: 72px;
}

.s-100{
    font-size: 100px;
}

.s-120{
    font-size: 120px;
}
