@font-face {
  font-family: "Light";
  src: url("./fonts/Inter-Light.ttf");
}

@font-face {
  font-family: "Medium";
  src: url("./fonts/IBMPlexMono-Medium.ttf");
}

@font-face {
  font-family: "Regular";
  src: url("./fonts/IBMPlexMono-Medium.ttf");
}

@font-face {
  font-family: "SemiBold";
  src: url("./fonts/Inter-SemiBold.ttf");
}

@font-face {
  font-family: "Condensed";
  src: url("./fonts/Koulen-Regular.ttf");
}

.condensed {
  font-family: "Condensed";
}

.regular {
  font-family: "Regular";
}

.light {
  font-family: "Light";
}

.semi-bold {
  font-family: "SemiBold";
}

.medium {
  font-family: "Medium";
}

.display-roman {
  font-family: "Display-Roman";
}

.display-medium {
  font-family: "Display-Medium";
}

.serif-light-italic {
  font-family: "Serif-Light-Italic";
}

.s-12 {
  font-size: 12px;
}

.s-16 {
  font-size: 12px;
}

.s-24 {
  font-size: 24px;
}

.s-40 {
  font-size: 40px;
}

.s-48 {
  font-size: 48px;
}

.s-64 {
  font-size: 64px;
}

.s-72 {
  font-size: 72px;
  line-height: 60px;
}

.s-100 {
  font-size: 100px;
}

.s-120 {
  font-size: 120px;
}

.s-128 {
  font-size: 7rem;
}

.white {
  color: white
}