.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.full-view-width {
  width: 100vw;
}

.full-view-height {
  height: 100vh;
}

.absolute-container {
  position: absolute;
}

.relative-container {
  position: relative;
}

.fixed-container {
  position: fixed;
}

.center-position {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

a {
  color: inherit;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;

  position: relative;
  overflow-x: hidden;
}

body,
html {
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.user-select-none {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

body::-webkit-scrollbar {
  display: none;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
