.custom-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding-bottom: 30px;
}

.burger-btn {
  outline: none;
  border: none;
  user-select: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 0.5vw;
  width: 50px;
  border-radius: 50%;
  background: transparent;
  z-index: 10000;
}

#logo {
  position: fixed;
  left: 5px;
  top: 15px;
}

.nav-item {
  margin: 12px;
  padding: 12px;
  z-index: 1000;
  width: fit-content;
}

.nav-paragraph {
  text-align: justify;
  font-family: "reg-text";
  font-size: 0.5rem;
}

.menu-box {
  width: 79px;
  height: 78px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #141414;
}

.navigation-items-window {
  display: flex;
  position: absolute;
  top: 0px;
  right: 0px;
  height: fit-content;
  width: fit-content;
  background-repeat: black;

  .nav-item {
    height: fit-content;
    width: 100%;
    color: #f8f8f8;
  }
}

.navigation-items {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  backdrop-filter: blur(20px);
  z-index: -10;

  .nav-content {
    height: fit-content;
    font-family: editorialMedium;

    a {
      text-decoration: none;
    }
  }

  .bottom-align {
    position: absolute;
    bottom: 0;
  }

  #logo {
    width: auto;
  }
}

.nav-menu {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  transform: translateY(-100%);
}

.nav-background {
  width: 100%;
  height: 100%;
  background-color: #9b9b9b;
}

.nav-content {
  height: 100vh;
  width: 500px;
  background-color: #f6f6f6;
  color: #141414;

  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;

  .content-container {
    position: relative;
    width: 500px;
    height: 100%;
    padding: 0px 2vw;
    padding-bottom: 10px;
  }
}

.link-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.box-link {
  height: 15px;
  user-select: none;
  width: 15px;
  margin-right: 15px;
  background-color: black;
}

.mail-btn {
  background-color: black;
  color: white;
  transition-duration: 0.3s;

  &:hover {
    background-color: orange;
    color: black;
  }
}

.nav--item {
  padding: 3px 7px 0 7px;
  margin: 0;
  z-index: 100;
  font-size: 13px;
  line-height: 20px;
}