.sp-grid {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  z-index: 1;

  box-shadow: inset 0px 0px 0px 2px rgba(150, 150, 150, 0.6);
  border-radius: 15px;
  overflow: hidden;

  .sp-row {
    display: flex;
    flex-direction: row;

    .sp-cell {
      width: 30px;
      height: 30px;
      text-align: center;
      position: relative;
      border: 1px solid rgba(150, 150, 150, 0.3);

      .sp-cell-weight {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        user-select: none;
      }

      &:hover {
        background-color: rgba(150, 150, 150, 0.9);
        color: white;
      }
    }

    .start-cell {
      background-color: teal;
    }

    .end-cell {
      background-color: crimson;
    }
  }
}

.sp-control {
  max-width: 400px;
  margin: 20px auto;

  display: flex;
  flex-direction: row;

  .sp-control-button {
    margin: 0 5px;
  }
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    background-color: rgba(0, 0, 66, 0.75);
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.node-wall {
  background-color: rgb(12, 53, 71);
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    background-color: rgb(255, 254, 106);
  }

  50% {
    background-color: rgb(255, 254, 106);
  }

  100% {
    background-color: rgb(255, 254, 106);
  }
}
