.sp-grid {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  z-index: 1;

  box-shadow: inset 0px 0px 0px 2px rgba(150, 150, 150, 0.6);
  border-radius: 15px;
  overflow: hidden;

  .sp-row {
    display: flex;
    flex-direction: row;

    .sp-cell {
      width: 25px;
      height: 25px;
      text-align: center;
      position: relative;
      border: 1px solid #6269762d;
      background-color: #f3f0e6df;

      .sp-cell-weight {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        user-select: none;
      }

      &:hover {
        background-color: rgba(150, 150, 150, 0.9);
        color: white;
      }
    }

    .start-cell {
      background-color: #4793af;
    }

    .end-cell {
      background-color: #fa7070;
    }

    .wall-cell {
      background-color: #686d76;
    }
  }
}

.sp-control {
  max-width: 400px;
  margin: 20px auto;

  display: flex;
  flex-direction: row;

  .sp-control-button {
    margin: 0 5px;
  }
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    background-color: #fdde55;
  }

  50% {
    background-color: #68d2e8;
  }

  75% {
    background-color: #03aed2;
  }

  100% {
    background-color: #f3f0e6df;
  }
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    background-color: #5abaff;
  }

  50% {
    background-color: #f6886d;
  }

  100% {
    background-color: #fa7070;
  }
}
